<a href="https://colab.research.google.com/github/bthosar/Data-Science--Cheat-Sheet/blob/master/testNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from twelvedata import TDClient
import pandas as pd

# Initialize client - apikey parameter is requiered
td = TDClient(apikey="7afaa1a443804adc946ef60771c96b60")

In [ ]:
ind1 = td.get_indices_list().as_json()
type(ind1)
indices = pd.DataFrame(ind1)
indices

        symbol                  name      country currency  exchange mic_code
0     00000020    BOLSA BILBAO INDEX        Spain      EUR       BME     XBIL
1       000001   SSE Composite Index        China      CNY       SSE     XSHG
2       000002     SSE A Share Index        China      CNY       SSE     XSHG
3       000003     SSE B Share Index        China      USD       SSE     XSHG
4       000004  SSE Industrial Index        China      CNY       SSE     XSHG
...        ...                   ...          ...      ...       ...      ...
1928     XU100              BIST 100       Turkey      TRY      BIST     XIST
1929        YT            BMV-DIV RT       Mexico      MXN       BMV     XMEX
1930     Z203C    AEX/CITI P-WT OPEN  Netherlands      EUR  Euronext     XAMS
1931     Z544B       SOGEN/BNP WT 17  Netherlands      EUR  Euronext     XAMS
1932        ZT               IMBBZRT       Mexico      MXN       BMV     XMEX

[1933 rows x 6 columns]

In [ ]:
df[df['currency']=='USD']

KeyError: 'currency'

In [ ]:
df[ (df['name'].str.startswith('NIFTY 50')) & (df['exchange']=='NSE') ]

      symbol       name country currency exchange mic_code
867   CRSLDX  NIFTY 500   India      INR      NSE     XNSE
1597    NSEI   NIFTY 50   India      INR      NSE     XNSE

In [ ]:
df[(df['country']=='United States') & (df['currency']=='USD')]

,symbol,name,country,currency,exchange,mic_code
660,ASNZ16,mini MSCI EM Asia NTR Index Fut,United States,USD,ICE,NYBOT
669,AVSPY,AAPL Alpha Index,United States,USD,NASDAQ,XNMS
750,BPX,ISE British Pound FX Index,United States,USD,NASDAQ,XNMS
877,DJCI,Dow Jones Commodity Index,United States,USD,NASDAQ,XNCM
878,DJCICL,Dow Jones Commodity Index Crude,United States,USD,NASDAQ,XNCM
...,...,...,...,...,...,...
1909,W5000,Wilshire 5000 Total Market Inde,United States,USD,NYSE,XNYS
1916,XAU,PHLX GOLD and SILVER SECTOR I,United States,USD,NASDAQ,XNMS
1924,XNDX,NASDAQ 100 Total Return Index,United States,USD,NASDAQ,XNMS
1925,XOI,NYSE Arca Oil Index,United States,USD,NYSE,XNYS
1926,XSP,S&P 500 MINI SPX OPTIONS INDEX,United States,USD,CBOE,BATS

In [ ]:
from twelvedata import TDClient

# Initialize client - apikey parameter is requiered
td = TDClient(apikey="7afaa1a443804adc946ef60771c96b60")

print(td.get_indices_list)
#td.symbol_search("NIFTY")
# Construct the necessary time series
ts = td.time_series(
    symbol="NSEI,DJI2MN,XNDX,XOI",
    interval="1day",
    start_date="2022-01-01",
    outputsize = 500,
    end_date="2023-02-02"
    )

# Returns pandas.DataFrame
data_indices=ts.with_rsi().with_linearreg().with_bbands().with_stochrsi().as_pandas()
data_indices
data_indices.loc['NSEI']

<bound method TDClient.get_indices_list of <twelvedata.client.TDClient object at 0x169af03d0>>

,open,high,low,close,volume,rsi,linearreg,upper_band,middle_band,lower_band,fast_k,fast_d
2023-02-01,17811.59961,17971.50000,17353.80078,17605.40039,0,36.21778,17561.05330,18273.93694,17925.95234,17577.96775,0.00000,41.50267
2023-01-31,17731.44922,17735.69922,17537.55078,17662.15039,398300,37.72321,17629.71988,18297.03021,17957.30986,17617.58952,100.00000,41.50267
2023-01-30,17541.94922,17709.15039,17405.55078,17648.94922,432400,37.15900,17727.92400,18310.65408,17984.07480,17657.49553,24.50802,8.16934
2023-01-27,17877.19922,17884.75000,17493.55078,17604.34961,476300,35.32069,17882.71997,18298.52361,18006.89238,17715.26116,0.00000,33.23829
2023-01-25,18093.34961,18100.59961,17846.15039,17891.94922,257200,42.82154,18064.12578,18272.82197,18036.22490,17799.62784,0.00000,66.57162
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-07,17797.59961,17905.00000,17704.55078,17812.69922,239300,61.05375,17933.86094,17970.82573,17278.54482,16586.26392,23.85888,41.28629
2022-01-06,17768.50000,17797.94922,17655.55078,17745.90039,236500,59.66867,17887.22118,17920.82970,17263.47490,16606.12010,0.00000,66.66667
2022-01-05,17820.09961,17944.69922,17748.84961,17925.25000,251500,65.47397,17834.67318,17882.80249,17252.02236,16621.24224,100.00000,100.00000
2022-01-04,17681.40039,17827.59961,17593.55078,17805.25000,247400,63.25271,17642.22760,17790.17761,17229.24736,16668.31712,100.00000,100.00000
2022-01-03,17387.15039,17646.65039,17383.30078,17625.69922,200500,59.64555,17464.49540,17692.68186,17197.81982,16702.95779,100.00000,66.66667

In [ ]:
data_indices.loc['NSEI']['close']

2023-02-01    17605.40039
2023-01-31    17662.15039
2023-01-30    17648.94922
2023-01-27    17604.34961
2023-01-25    17891.94922
                 ...
2022-01-07    17812.69922
2022-01-06    17745.90039
2022-01-05    17925.25000
2022-01-04    17805.25000
2022-01-03    17625.69922
Name: close, Length: 271, dtype: object

In [ ]:
s1 = data_indices.loc['NSEI']['close']
s11 = data_indices.loc['NSEI']['linearreg']
s12 = data_indices.loc['NSEI']['rsi']
s2= data_indices.loc['DJI2MN']['close']
s3 = data_indices.loc['XNDX']['close']
s4= data_indices.loc['XOI']['close']
s1.rename("NSEI",inplace=True)
s2.rename("DJI2MN",inplace=True)
s3.rename("XNDX",inplace=True)
s4.rename("XOI",inplace=True)


final  = pd.concat([s1,s11,s12,s2,s3,s4], axis=1)
type(final)
final['NSEI']=final['NSEI'].shift(-1)
final['NSEI_PREV']=final['NSEI'].shift(-2)
# final.rename(columns={'close': 'DJI2MN', 'close': 'DJI2MN','close': 'XNDX','close': 'XOI'}, inplace=False)
final.dropna(inplace=True)

# Specify the desired order of columns
cols = ['NSEI','NSEI_PREV', 'rsi','linearreg','DJI2MN', 'XNDX','XOI']

# Reorder the columns in the dataframe
final = final.reindex(columns=cols)
final

,NSEI,NSEI_PREV,rsi,linearreg,DJI2MN,XNDX,XOI
2023-02-01,17662.15039,17604.34961,36.21778,17561.05330,34072.64844,14327.68400,1814.05444
2023-01-31,17648.94922,17891.94922,37.72321,17629.71988,34073.78906,14291.56200,1860.86438
2023-01-30,17604.34961,18118.30078,37.15900,17727.92400,33700.57812,14251.44400,1858.79675
2023-01-27,17891.94922,18118.55078,35.32069,17882.71997,33957.57031,14454.66309,1906.72302
2023-01-25,18118.30078,18027.65039,42.82154,18064.12578,33712.60156,13912.88900,1881.97302
...,...,...,...,...,...,...,...
2022-04-20,16958.65039,17475.65039,45.55126,17054.73607,35160.78906,16516.45898,1653.33545
2022-04-19,17173.65039,17530.30078,41.10146,17123.87140,34911.19922,16773.50000,1640.59155
2022-04-18,17475.65039,17674.94922,45.25161,17311.86354,34411.69141,16414.29883,1654.89612
2022-04-13,17530.30078,17784.34961,52.11525,17536.85365,34570.98047,16778.72461,1627.80847
2022-04-12,17674.94922,17639.55078,53.47826,17692.73911,34227.64062,16452.34570,1605.06445

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense

# Load the stock index data
df = final
df['NSEI'] = pd.to_numeric(df['NSEI'], errors='coerce')
df['NSEI_PREV'] = pd.to_numeric(df['NSEI_PREV'], errors='coerce')
df['linearreg'] = pd.to_numeric(df['linearreg'], errors='coerce')
df['rsi'] = pd.to_numeric(df['rsi'], errors='coerce')
df['DJI2MN'] = pd.to_numeric(df['DJI2MN'], errors='coerce')
df['XNDX'] = pd.to_numeric(df['XNDX'], errors='coerce')
df['XOI'] = pd.to_numeric(df['XOI'], errors='coerce')
print(df.dtypes)


# Preprocess the data
# scaler = MinMaxScaler()
# df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

# df

# Split the data into training and testing sets
train_df = df[:int(df.shape[0]*0.8)]
test_df = df[int(df.shape[0]*0.8):]

# Define the input and output data
X_train = train_df.drop('NSEI', axis=1)
y_train = train_df['NSEI'].values
X_test = test_df.drop('NSEI', axis=1)
y_test = test_df['NSEI'].values
train_df

# # Define the model
model = Sequential()
#model.add(Dense(16, input_dim=X_train.shape[10], activation='relu'))
#model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='linear'))

# # Compile the model
model.compile(loss='mean_squared_error', optimizer='adam')


# # Fit the model to the training data
model.fit(X_train, y_train, epochs=100, batch_size=32, verbose=0)

# Evaluate the model on the test data
test_loss = model.evaluate(X_test, y_test, verbose=0)
print('Test Loss:', test_loss)


# Use the model to make predictions on new data
predictions = model.predict(X_test)
predictions

NSEI         float64
NSEI_PREV    float64
rsi          float64
linearreg    float64
DJI2MN       float64
XNDX         float64
XOI          float64
dtype: object
Test Loss: 1682874.375
2/2 [==============================] - 0s 1ms/step

array([[16987.354],
       [17371.67 ],
       [17735.668],
       [17851.412],
       [17770.855],
       [18015.828],
       [17723.361],
       [17284.947],
       [16990.943],
       [17120.537],
       [17093.494],
       [16820.6  ],
       [16944.61 ],
       [17075.771],
       [17359.477],
       [17006.654],
       [17023.102],
       [16617.021],
       [16980.947],
       [17265.06 ],
       [17252.217],
       [17681.324],
       [17993.143],
       [18540.564],
       [18437.262],
       [18208.432],
       [18865.299],
       [18256.516],
       [18151.367],
       [18683.701],
       [18679.707],
       [18916.688],
       [18960.188],
       [19211.217],
       [19052.424],
       [19483.527],
       [19460.959]], dtype=float32)

In [ ]:
today = final[:1].drop('NSEI', axis=1)
today
model.predict(today)

1/1 [==============================] - 0s 21ms/step

array([[17722.076]], dtype=float32)

In [ ]:
final[:3]

,NSEI,NSEI_PREV,rsi,linearreg,DJI2MN,XNDX,XOI
2023-02-01,17662.15039,17604.34961,36.21778,17561.05330,34072.64844,14327.684,1814.05444
2023-01-31,17648.94922,17891.94922,37.72321,17629.71988,34073.78906,14291.562,1860.86438
2023-01-30,17604.34961,18118.30078,37.15900,17727.92400,33700.57812,14251.444,1858.79675

In [ ]:
df1= pd.DataFrame(predictions)
df2 =pd.DataFrame(y_test)
df3 =pd.DataFrame(X_test)

df_concat = pd.concat([df1, df2,df3],axis=1)
df_concat

               0            0            0            1           2
0   17224.824219  16478.09961  31459.35938  13985.11523  1831.63354
1   17733.884766  16356.25000  32291.97070  14501.16992  1859.48779
2   18129.195312  16416.34961  32900.55078  14933.62800  1897.65796
3   18245.708984  16569.55078  33176.10938  14970.48500  1899.65955
4   18018.689453  16584.55078  32836.19141  14730.85059  1820.53369
5   18158.039062  16661.40039  33000.80859  14945.87793  1789.43689
6   18238.486328  16170.15039  33173.44922  14983.81738  1805.54236
7   17847.000000  16025.79980  32627.03906  14499.79688  1770.97205
8   17505.417969  16125.15039  32116.68945  14106.58887  1752.08118
9   17345.783203  16214.70020  31911.99023  13899.74512  1712.21729
10  17446.199219  16266.15039  31856.41016  14217.61328  1710.26050
11  17127.404297  15809.40039  31248.25000  13988.01465  1663.52539
12  17148.353516  16240.29980  31260.40039  14031.77441  1661.43481
13  17255.103516  16259.29980  31464.43945  14113.38500  1660.86609
14  17920.197266  15842.29980  32621.17969  14718.12800  1705.09143
15  17722.564453  15782.15039  32191.83008  14622.01500  1690.90125
16  17721.316406  15808.00000  32166.06055  14654.00100  1658.55835
17  17280.005859  16167.09961  31671.33008  13996.74100  1599.83679
18  17461.685547  16240.04980  31834.10938  14314.10700  1601.73242
19  17721.285156  16301.84961  32160.74023  14682.48600  1584.34131
20  17673.291016  16411.25000  32245.69922  14477.87900  1572.26648
21  18139.328125  16682.65039  32903.78906  15015.70600  1711.58679
22  18243.791016  16677.59961  32997.96875  15214.06100  1660.51831
23  18912.939453  17069.09961  34041.35156  15945.39746  1686.51367
24  18339.251953  17102.55078  33061.50000  15432.02539  1566.92737
25  18205.359375  17245.05078  32977.21094  15169.46680  1546.45081
26  18829.025391  17038.40039  33916.39000  15880.00400  1581.64124
27  18388.560547  17200.80078  33301.92969  15338.96191  1530.59900
28  18383.148438  16953.94922  33279.96094  15353.27148  1507.96606
29  18904.367188  17171.94922  34049.46094  15972.50000  1504.27075
30  18747.130859  17392.59961  33828.12109  15759.98535  1553.64624
31  19276.773438  17136.55078  34792.76172  16196.02246  1599.25439
32  19542.033203  16958.65039  35160.78906  16516.45898  1653.33545
33  19545.982422  17173.65039  34911.19922  16773.50000  1640.59155
34  19225.388672  17475.65039  34411.69141  16414.29883  1654.89612
35  19420.244141  17530.30078  34570.98047  16778.72461  1627.80847
36  19165.642578  17674.94922  34227.64062  16452.34570  1605.06445

In [ ]:
from twelvedata import TDClient
import pandas as pd

# Initialize client - apikey parameter is requiered
td = TDClient(apikey="7afaa1a443804adc946ef60771c96b60")

stock = td.get_stocks_list().as_json()
type(stock)
stock = pd.DataFrame(stock)

,symbol,name,currency,exchange,mic_code,country,type
0,000,"Greenvolt - Energias RenovÃ¡veis, S.A.",EUR,Munich,XMUN,Germany,Common Stock
1,000,"Greenvolt - Energias RenovÃ¡veis, S.A.",EUR,FSX,XFRA,Germany,Common Stock
2,000001,"Ping An Bank Co., Ltd.",CNY,SZSE,XSHE,China,Common Stock
3,000002,"China Vanke Co., Ltd.",CNY,SZSE,XSHE,China,Common Stock
4,000004,Shenzhen GuoHua Network Security Technology Co...,CNY,SZSE,XSHE,China,Common Stock
...,...,...,...,...,...,...,...
108801,ZZHGY,"ZhongAn Online P & C Insurance Co., Ltd.",USD,OTC,Pink,United States,American Depositary Receipt
108802,ZZLL,"ZZLL Information Technology, Inc.",USD,OTC,OTCQB,United States,Common Stock
108803,ZZMS,Commerzbank AG,EUR,XSTU,XSTU,Germany,Common Stock
108804,ZZZ,SLEEP COUNTRY CANADA HOLDING,CAD,TSX,XTSE,Canada,Common Stock
108805,ZZZOF,"Zinc One Resources, Inc.",USD,OTC,Grey,United States,Common Stock

In [ ]:
Name =["AARTIIND", "ABSLAMC", "BALAMINES", "BHARATRAS", "CAPLIPOINT", "CHAMBLFERT", "COROMANDEL", "DEEPAKNTR", "EXIDEIND", "GPIL", "GRAPHITE", "GRAVITA", "GAEL", "GSPL", "GUJGASLTD", "HGINFRA", "HAPPSTMNDS", "HEG", "HGS", "HLEGLAS", "INDUSTOWER", "IONEXCHANG", "JSLHISAR", "KPRMILL", "KIRLFER", "KIMS", "LAURUSLABS", "LLOYDMETAL", "LUXIND", "MASTEK", "MFL", "MOTILALOFS", "NMDC", "ORIENTELEC", "RAJRATAN", "SHAREINDIA", "SIS", "SONATSOFTW", "SRF", "SUMICHEM", "SPLPETRO", "TATASTEEL", "VEDL"]
#Name =["AARTIIND", "LLOYDMETAL", "LUXIND"]
i = 0
for item in Name:
    try:
        print(item)
        ts = td.time_series(
            symbol=item,
            interval="1day",
            start_date="2022-12-15",
            outputsize = 40,
            end_date="2023-02-01"
            )
            # Returns pandas.DataFrame
        data_stocks=ts.with_rsi().with_linearreg().with_bbands().with_stochrsi().as_pandas()
        data_stocks['Name'] = item
        if(i == 1):
            data_stocks_final = data_stocks_final.append(data_stocks)
        if(i == 0):
            data_stocks_final = data_stocks
            i = 1
    
    except Exception as e:
        print("Error occurred at index {}: {}".format(item, e))
        continue

AARTIIND
ABSLAMC

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

BALAMINES

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

BHARATRAS

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

CAPLIPOINT

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

CHAMBLFERT

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

COROMANDEL

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

DEEPAKNTR

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

EXIDEIND

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

GPIL
Error occurred at index GPIL: HTTPSConnectionPool(host='api.twelvedata.com', port=443): Max retries exceeded with url: /bbands?symbol=GPIL&interval=1day&series_type=close&time_period=20&sd=2&ma_type=SMA&outputsize=40&start_date=2022-12-15&end_date=2023-02-01&dp=5&timezone=Exchange&order=desc&prepost=false&format=JSON&apikey=7afaa1a443804adc946ef60771c96b60&source=python (Caused by SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:1129)')))
GRAPHITE

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

GRAVITA

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

GAEL

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

GSPL

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

GUJGASLTD

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

HGINFRA

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

HAPPSTMNDS

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

HEG

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

HGS

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

HLEGLAS

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

INDUSTOWER

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

IONEXCHANG

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

JSLHISAR

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

KPRMILL

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

KIRLFER

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

KIMS

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

LAURUSLABS

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

LLOYDMETAL
Error occurred at index LLOYDMETAL: **symbol** not found: LLOYDMETAL. Please specify it correctly according to API Documentation.
LUXIND

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

MASTEK

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

MFL
Error occurred at index MFL: No data is available on the specified dates. Try setting different start/end dates.
MOTILALOFS

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

NMDC

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

ORIENTELEC

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

RAJRATAN

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

SHAREINDIA

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

SIS

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

SONATSOFTW

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

SRF

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

SUMICHEM

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

SPLPETRO

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

TATASTEEL

/var/folders/55/y5fmpk_x2q90vhs0y07ppm_80000gn/T/ipykernel_72132/2858456251.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_stocks_final = data_stocks_final.append(data_stocks)

VEDL
Error occurred at index VEDL: No data is available on the specified dates. Try setting different start/end dates.

In [ ]:
#data_stocks_final[data_stocks_final['Name']=='TATASTEEL']
import numpy as np
import talib

ImportError: dlopen(/Users/bharatthosar/Library/Python/3.9/lib/python/site-packages/talib/_ta_lib.cpython-39-darwin.so, 0x0002): symbol not found in flat namespace '_TA_ACOS'

In [ ]:
stocklist = stock[(stock['currency']=='INR' ) & (stock['exchange']=='NSE' ) & (stock['symbol'].isin(Name))]['symbol']
stocklist

31580       AARTIIND
31871        ABSLAMC
43256      BALAMINES
44539      BHARATRAS
48134     CAPLIPOINT
49777     CHAMBLFERT
51524     COROMANDEL
53945      DEEPAKNTR
59081       EXIDEIND
61983           GAEL
64068           GPIL
64204       GRAPHITE
64213        GRAVITA
64610           GSPL
64843      GUJGASLTD
65380     HAPPSTMNDS
65861            HEG
66093        HGINFRA
66112            HGS
66439        HLEGLAS
69187     INDUSTOWER
69579     IONEXCHANG
71383       JSLHISAR
72406           KIMS
72458        KIRLFER
73037        KPRMILL
73821     LAURUSLABS
75496         LUXIND
76376         MASTEK
77327            MFL
78758     MOTILALOFS
81623           NMDC
84349     ORIENTELEC
89511       RAJRATAN
94307     SHAREINDIA
94905            SIS
96202     SONATSOFTW
96570       SPLPETRO
96933            SRF
97863       SUMICHEM
99053      TATASTEEL
104227          VEDL
Name: symbol, dtype: object

In [ ]:

    ts = td.time_series(
        symbol=item,
        interval="1day",
        start_date="2022-01-01",
        outputsize = 5,
        end_date="2023-02-01"
        )

    # Returns pandas.DataFrame
    data_indices=ts.with_rsi().with_linearreg().with_bbands().with_stochrsi().as_pandas()
    data_indices

SyntaxError: invalid syntax (2571100203.py, line 1)